*{
    font-family: Arial, Helvetica, sans-serif;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


/* CSS HEADER */
nav{
    background: linear-gradient(to right bottom, blue, white, lightblue);
   
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu > li> a{
    display: block;
    color: darkblue;
    text-decoration: none;
    padding: 25px;
}

.menu > li> a:hover {
    background-color: darkblue;
    color: white;
}



.brand {
    background: linear-gradient(to left top,lightblue, blue, lightblue);
    margin-top:5px ;
}


.brand > h1{
    color: white;
    text-shadow: 3px 3px 2px darkblue;
}

/* CSS BODY */

.ads > div{
    width: 9%;
    background: linear-gradient(skyblue, blue);
    color: white;
    border-radius: 10px ;
    font-size: 1.2rem;
    padding: 8rem 0;
    margin: 0.5rem;
    margin-top: 1.2rem;
    text-align: center;
    position: fixed;
}

.ads > .left {
    left: 0.1%;
}
.ads > .right {
    right: 0.1%;
}

.topic{
    width: 80%;
    margin: 0 auto;
    
}


.topic > h2{
    background-color: darkblue;
    color: white;
    padding: 1rem;
    margin-bottom: 0;
    border-radius: 10px 10px 0 0;
}

.topic > .forums{
    background-color: lightblue;
    border-radius: 0 0 10px 10px;
    
}


.forum{
    padding: 0.7rem;
    align-items: center;
    border-top: 1px solid darkblue;
}

.forum > img {
    border-radius: 50%;
    width: 20%;
}

.forum > a{
    text-decoration: none;
}

.forum > a:hover {
    text-decoration: underline;
}

.forum > p > a{
    text-decoration: none;
}



/* CSS FOOTER */

footer {
    background: linear-gradient(blue, white, darkblue);
    padding: 2rem;
    overflow: hidden;
    margin-top: 20px;
    
}

footer > span{
    position: relative;
    animation: move 15s infinite;
    
}

@keyframes move {
    from{
        left: 0%;
    }
    to{
        left: 100%;
    }
}